server {
    listen 80;
    server_name localhost;

    location / {
        # Recibe la ip definida en el playbook de Ansible
        proxy_pass http://{{ backend_ip }}:80;
        
        # Cabeceras estándar para que la app sepa quién es el cliente real
        proxy_set_header Host $host; # Mantiene el host original
        proxy_set_header X-Real-IP $remote_addr; # IP del cliente real
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; # Lista de IPs por las que ha pasado la petición
        proxy_set_header X-Forwarded-Proto $scheme; # Protocolo original (http o https)
    }
}
